<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <form method='post' action="/logIn">
  <div class="container">
    <label><b>Email</b></label>
    <input class="index" type="email" placeholder="Enter email" name="user_name" required>

    <label><b>Password</b></label>
    <input class="index" type="password" placeholder="Enter Password" name="pswd" required>
    <button class="indexButton" type="submit">Login</button>
  </div>
</form>
<a href="/auth/facebook">Facebook</a>
<a href="/auth/google">google</a>
</body>
</html>
