<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <form method='post' action="/logIn">
  <div class="container">
    <div>
        <p style="color: red">Incorrect Password.. Try Again</p>
    </div>
    <label><b>Username</b></label>
    <input class="index" type="text" placeholder="Enter Username" name="user_name" required>

    <label><b>Password</b></label>
    <input class="index" type="password" placeholder="Enter Password" name="pswd" required>
    <button class="indexButton"type="submit">Login</button>
  </div>
</form>
</body>
</html>
